@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #f7f7f7;
}

p {
  line-height: 150%;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}


<<<<<<< HEAD
#flag {
  height: 25px;
}

.footer {
  bottom: 0;
  margin-bottom: -100px;
}
=======
#vid:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#flag{
    height: 25px;
}

.footer{
    bottom: 0;
    margin-bottom: -100px;
}

.fas{
    font-size: 48px;
}
>>>>>>> eaa75f29ded8b9b5185268d025c168a219c96335
